body {
    font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
}

a.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.navbar .navbar-brand span {
    color: #53b6d7;
}

.dekstopheading {
    padding-top: 90px;
    padding-bottom: 30px;
    background-color: blue;
    border-top: 1px solid #d8dce8;
}

.dekstopdetail {
    display: flex;
    align-items: center;
}

.chevron-left {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 0; /* Menghapus jarak kiri */
    margin-right: 10px; /* Menambahkan jarak kanan ke tombol chevron */
}

.chevron-left svg {
    width: 24px;
    height: 24px;
    margin-right: 34px;
}

.h3size {
    margin-top: 30px;
}

@media (min-width: 840px) {
    .pricetierswrap {
        flex-direction: row;
        padding-top: 32px;
        padding-bottom: 32px;
        column-gap: 24px;
    }
}

.pricetierswrap {
    display: flex;
    flex-direction: column;
    background-color: #f4f7fe;
}

@media (min-width: 840px) {
    .packageselectionwrap {
        border-radius: 1px;
        overflow: hidden;
    }
}

@media (min-width: 840px) {
    .packageselectionwrap .packageselectionheading {
        padding: 10px 10px; /* Mengurangi padding di sisi kiri dan kanan */
    }
}
.packageselectionwrap {
    background-color: #e7f2ff;
    padding: 20px 0 ;
    border-radius: 8px;
    overflow: hidden;
    width: 100px;
}
.containerpackage{
    display: flex;

}

/* Menyesuaikan ukuran font dan jarak pada .packageselectionheading */
.packageselectionwrap .packageselectionheading {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Menyesuaikan tulisan "Selection Package" agar agak ke sebelah kiri */
    align-items: center;
    column-gap: 10px; /* Menambahkan jarak antara tulisan dan tombol chevron */
    padding: 10px 20px;
    margin-bottom: 10px;
}

.packageselectionwrap .packageselectionheading h5 {
    margin: 0;
}

@media (min-width: 840px) {

.packageselectionwrap .packageselectionheading > span:first-of-type {
    text-align: right;
    margin-right: auto;
}

.packageselectionwrap .packageselectionheading .packageSelection_control_desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}}



@media (prefers-reduced-motion: reduce) {
    *,
    :after,
    :before {
        animation-duration: .01ms!important;
        animation-iteration-count: 1!important;
        transition-duration: .01ms!important;
        scroll-behavior: auto!important;
    }
}

.packageselectionwrap .packageselectionheading .packageSelection_control_desktop > button:disabled {
    cursor: not-allowed;
    background-color: #f4f7fe;
    margin-right: 0;
}

.packageselectionwrap .packageselectionheading .packageSelection_control_desktop > button {
    background-color: unset;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    padding: 7px;
    transition: background-color .3s;
}

.packagecardwrap {
    width: 100%;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: border-color .3s;
    height: 100%;
    min-height: 368px;
}

.packagebenefit_package_benefit {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
}

.PackageBenefit_feature_with_icon {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.divider_vertical_default {
    border-left: 1px solid #d8dce8;
}

.p2_horizontal {
    border-top: 1px solid #d8dce8;
}

/* Menambahkan garis pemisah di antara teks "YELLOW A" dan "See redemption" */
.packagecard_divider.p2_horizontal {
    width: 100%;
    margin-top: 12px;
    border-top: 1px solid #d8dce8;
}

@media (min-width: 840px) {
    .divider {
        --border-main-width: 1px;
        --border-bold-width: 8px;
    }
}

/* Mengatur teks sub di bawah teks utama dan mengubah warna menjadi abu */
.PackageBenefit_feature_with_dots span {
    font-size: 0.9em;
    color: #AEB2BE;
    display: block;
    margin-top: 4px;
}

.PackageBenefit_feature_with_icon.PackageBenefit_feature_with_subtitle {
    align-items: flex-start;
}

.textvariant_alert {
    color: #f15c59;
}

@media (min-width: 840px) {
    .pricetierswrap > :first-child,
    .pricetierswrap > :nth-child(2) {
        flex: 1 1;
    }
}

.pricetierswrap .pricetiers_arrow_indicator {
    position: relative;
}

@media (min-width: 840px) {
    .TicketQuantitySelection_wrapper__eJNEu {
        margin-top: 8px;
        padding: 20px 16px;
    }
}

.TicketQuantitySelection_wrapper__eJNEu {
    padding: 16px 40px;
    margin-top: 6px;
    background-color: #fff;
}


@media (min-width: 840px) {
    .TotalPayment_wrapper__bc6DL {
        margin-top: 8px;
        padding: 20px 16px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

.TotalPayment_wrapper__bc6DL {
    padding: 16px 40px;
    margin-top: 6px;
    background-color: #fff;
}

@media (min-width: 840px) {
    .TicketQuantitySelection_wrapper__eJNEu .TicketQuantitySelection_title_section__Qbq1U {
        margin-bottom: 8px;
    }
}

.TicketQuantitySelection_wrapper__eJNEu .TicketQuantitySelection_title_section__Qbq1U {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.TicketQuantitySelection_wrapper__eJNEu .TicketQuantitySelection_title_section__Qbq1U > h5 {
    margin: 0;
}

.HcPVsG_weight_bold {
    font-weight: 700;
}

.HcPVsG_size_b1 {
    font-size: 18px;
    line-height: 24px;
}

@media (min-width: 840px) {
    .TicketQuantitySelection_wrapper__eJNEu .TicketQuantitySelection_ticket_list__izY_Z {
        row-gap: 16px;
    }
}

.TicketQuantitySelection_wrapper__eJNEu .TicketQuantitySelection_ticket_list__izY_Z {
    display: flex;
    flex-direction: column;
}

@media (min-width: 840px) {
    .TotalPayment_wrapper__bc6DL {
        margin-top: 8px;
        padding: 20px 16px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

.TotalPayment_wrapper__bc6DL {
    padding: 16px 40px;
    margin-top: 6px;
    background-color: #fff;
}

.TotalPayment_wrapper__bc6DL .TotalPayment_desktop_date_view__lajYi {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-gap: 8px;
}

/* Mengatur posisi kontainer tiket di atas kontainer tanggal */
.TicketQuantitySelection_wrapper__eJNEu {
    margin-bottom: 20px;
}

.pricetierswrap {
    display: flex;
    flex-direction: row; /* Mengatur arah flex ke horizontal */
    justify-content: space-between;
    align-items: center; /* Mengatur alignment ke tengah vertikal */
}

.packageselectionwrap {
    flex: 1; /* Container packageselectionwrap akan memenuhi sisa ruang yang tersisa */
    margin-right: 1px; /* Menambahkan jarak kanan untuk pemisahan antara packageselectionwrap dan pricetiers_arrow_indicator */
    margin-left: 100px; /* Menambahkan jarak kiri untuk celah di sebelah kiri */

}

.packagecardwrap{
    margin-left: 20px;
}

.text_size_b1._weight_bold {
    font-weight: bold;
    /* Gaya lain sesuai kebutuhan Anda */
}

.text_size_b3 {
    font-size: 14px; /* Sesuaikan ukuran font sesuai kebutuhan Anda */
    margin-left: 10px; /* Menambahkan jarak antara .text_size_b1._weight_bold dan .text_size_b3 */
    white-space: nowrap; /* Mencegah teks melingkar jika terlalu panjang */
}

.TicketQuantity_wrapper__4QcGi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1px;
}

@media (min-width: 840px){
.TicketQuantity_wrapper__4QcGi {
    border: 1px solid #d8dce8;;
    border-radius: 8px;
    padding: 1px 1px;
}
}

@media (min-width: 840px){
.TicketQuantity_wrapper__4QcGi .TicketQuantity_main_content__ydGVV {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}}
.TicketQuantity_wrapper__4QcGi .TicketQuantity_main_content__ydGVV {
    flex-direction: column;
    width: 100%;
    row-gap: 0px;
}

.TicketQuantity_wrapper__4QcGi .TicketQuantity_main_content__ydGVV {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 840px){
.TicketQuantity_wrapper__4QcGi .TicketQuantity_main_content__ydGVV .TicketQuantity_ticket_content__HpZlA {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    row-gap: 8px;
}}
.TicketQuantity_wrapper__4QcGi .TicketQuantity_main_content__ydGVV .TicketQuantity_ticket_content__HpZlA {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 840px){
.TicketQuantity_wrapper__4QcGi .TicketQuantity_main_content__ydGVV .TicketQuantity_ticket_name__QGNLr {
    flex-direction: column;
    align-items: flex-start;
}}

.TicketQuantity_wrapper__4QcGi .TicketQuantity_main_content__ydGVV .TicketQuantity_ticket_name__QGNLr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -moz-column-gap: 4px;
    column-gap: 4px;
    width: 100%;
    padding-left: 20px;
}

@media (min-width: 840px){
.TicketQuantity_wrapper__4QcGi .TicketQuantity_main_content__ydGVV .TicketQuantity_ticket_content__HpZlA .TicketQuantity_ticket_price__TjSIy {
    row-gap: 0;
}}

.TicketQuantity_ticket_price__TjSIy{
    padding-top: 40px;
}

@media (min-width: 840px){
.TicketQuantity_wrapper__4QcGi .TicketQuantity_main_content__ydGVV .TicketQuantity_ticket_content__HpZlA .TicketQuantity_ticket_price__TjSIy, .TicketQuantity_wrapper__4QcGi .TicketQuantity_main_content__ydGVV .TicketQuantity_ticket_content__HpZlA .TicketQuantity_ticket_qty__T3vCr {
    align-items: flex;
}}

.ZfMCoW_container {
    align-items: bottom;
    display: inline-flex;
}

@media (prefers-reduced-motion: reduce){
*, :after, :before {
    animation-duration: .01ms!important;
    animation-iteration-count: 1!important;
    transition-duration: .01ms!important;
    scroll-behavior: auto!important;
}}

.ZfMCoW_operation_button {
    border: 1px solid #002a58;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: transform .1s ease-in;
    display: flex;
}


/* CSS di atas elemen HcPVsG_text, HcPVsG_variant_alert, HcPVsG_size_b1, HcPVsG_weight_bold */
.HcPVsG_text {
    /* Ganti gaya sesuai kebutuhan */
    font-size: 16px;
    font-weight: normal;
    color: #333;
}

.HcPVsG_variant_alert {
    /* Ganti gaya sesuai kebutuhan */
    color: #f15c59;
    font-weight: bold;
}

.HcPVsG_size_b1 {
    /* Ganti gaya sesuai kebutuhan */
    font-size: 18px;
    line-height: 24px;
}

.HcPVsG_weight_bold {
    /* Ganti gaya sesuai kebutuhan */
    font-weight: 700;
}

/* CSS di bawah elemen ZfMCoW_container */
.ZfMCoW_container {
    /* Ganti gaya sesuai kebutuhan */
    background-color: #fff;
    padding: 20px;
    margin-top: 20px; /* Tambahkan jarak atas antara container */
    margin-bottom: 20px; /* Tambahkan jarak bawah antara container */
}

/* Penyesuaian gaya lainnya sesuai kebutuhan Anda */
.ZfMCoW_container .ZfMCoW_operation_button.minus {
    margin-right: 10px; /* Menambahkan jarak antara tombol "-" dan tombol "+" */
}

.ZfMCoW_operation_button {
    border: 1px solid #007bff;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: transform .1s ease-in;
    display: flex;
}

.ZfMCoW_quantity_input {
    text-align: center;
    font-size: 16px;
    font-weight: var 700;
    color: var #303135;
    caret-color: var #007bff;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}